<canvas id="canvas"></canvas>
<div id="startButton" class="button">
    Capture
</div>
<h2>Preview</h2>
<img id="canvas" width="800" height=auto>
<img>
<script src="~/js/ScreenCaptureScreenshotjs.js"></script>