<div id="startButton" class="button">
    Capture
</div>
<a>
    <canvas width="1000" height="800" id="canvas"></canvas>
</a>

@*<button class="badge badge-primary badge-pill" value="@item.Name" id="FileDownloadBtn">Download</button>*@
@*<asp:Button Text="Upload" runat="server" OnClientClick="UploadImage" OnClick="Upload" />*@
@*<button onclick="ShanuSaveImage()">Upload</button>*@
<script src="../../js/Screenshot.js"></script>