<div id="startButton" class="button">
    Capture
</div>
<canvas id="canvas"></canvas>
@*<button class="badge badge-primary badge-pill" value="@item.Name" id="FileDownloadBtn">Download</button>*@
<button onclick=""></button>

<script src="../js/ScreenCaptureScreenshotjs.js"></script>